@charset "UTF-8";

/*タブ実装*/
.area {
    width: auto;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
  }
   
  .tab_class {
    width: calc(100%/4);
    height: 30px;
    background-color: #F5F5F5;
    color: #73879C;
    text-align: center;
    display: block;
    float: left;
    order: -1;
    border: solid 1px #e3ebf3;
  }

  .left_tab{
    border-radius: 5px 0 0 5px !important;
  }

  .right_tab{
    border-radius: 0 5px 5px 0 !important;
  }

  .right_left_tab{
    border-radius: 5px 5px 5px 5px !important;
  }
   
  input[name="accounts-btn"] {
    display: none;
  }
